<h1>Consumer</h1>
{{#if model}}
  <table>
  <tr>
  <th>id</th>
  <th>name</th>
  <th>webhooks</th>
  <th> </th>
  </tr>
  <tr>
  <th>{{model.id}}</th>
  <th>{{model.name}}</th>
  <th>{{model.webhook_count}}</th>
  <th><a class="btn btn-danger" {{action destroyRecord}}>delete</a></th>
  </tr>
  </table>
  <h2>Webhooks</h2>
  {{ model.webhooks.length }}

  {{#each webhook in model.webhooks}}
    foo
    {{#linkTo "webhook" webhook}}
      {{webhook.name}}
    {{/linkTo}}
  {{else}}
    No webhooks for this consumer matey
  {{/each}}

{{else}}
  Something went wrong.
{{/if}}
