<div class="contentframe">
  <h2>{{model.webhook_count}} Webhooks for {{model.name}}</h2>
  <div class="tablewrapper">
    <table class="webhooklist">
      <tr>
        <th>ID</th>
        <th>Date Delivered</th>
        <th>Time Delivered</th>
        <th>Endpoint</th>
        <th>Status</th>
        <th>Attempts</th>
      </tr>
      {{#each webhook in model.webhooks}}
        <tr>
          <td>{{#linkTo "webhook" webhook}}{{webhook.id}}{{/linkTo}}</td>
          <td>{{webhook.createdDate}}</td>
          <td>{{webhook.createdTime}}</td>
          <td>{{webhook.postUri}}</td>
	  {{#if webhook.failed}}
	    {{#if webhook.attempt}}
	    <td>Retrying</td>
	    {{else}}
	    <td>Failed</td>
	    {{/if}}
	  {{else}}
	    <td>succeeded</td>
	  {{/if}}
	  <td>{{webhook.attemptCount}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

{{outlet webhook}}

