<div class="dialogshadow">
  <div class="dialog">

    <form>
      <div class="dialogcontent newplacedialog">
        <div class="mq-formrow">
          <div class="mq-formfield">
            <label>Name the Place</label>
            <p>
              Try to give us the most widely used name there is for this place so we can make sure no duplicates get added.
            </p>
            {{view Ember.TextField valueBinding="name" disabledBinding="isProcessing" class="huge field_name"}}
          </div>
        </div>

        <br /><br />

        <div class="image">
          <div class="imagewrapper">
            {{#if image}}
              <img {{bindAttr src="image"}} />
            {{/if}}
            <div class="buttonpanel">
              {{#if image}}
                <div {{action removeImage}} class="mq-button mq-raised mq-medium mq-white">
                  <div class="mq-wrapper">
                    <i>Remove</i>
                  </div>
                </div>
              {{else}}
                <div {{action addImage}} class="mq-button mq-raised mq-medium mq-white">
                  <div class="mq-wrapper">
                    <i>Add a Photo</i>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>

        <div class="right">
          <div class="mq-formrow">
            <div class="mq-formfield">
              <label>Location</label>
              {{view Ember.TextField valueBinding="country" disabledBinding="isProcessing" placeholder="Country" class="large field_country"}}
              {{view Ember.TextField valueBinding="state" disabledBinding="isProcessing" placeholder="State or Province" class="large field_state"}}
            </div>
          </div>

          <div class="mq-formrow">
            <div class="mq-formfield">
              <label>Tags</label>
              {{view Ember.TextField valueBinding="tags" disabledBinding="isProcessing" placeholder="Mountain, waterfall, castle, monument, etc." class="large field_tags"}}
            </div>
          </div>

          <div class="mq-formrow">
            <div class="mq-formfield">
              <label>What makes this place awesome?</label>
              <label class="checkbox">{{view Ember.Checkbox checkedBinding="isScenic" disabledBinding="isProcessing"}} Scenery</label>
              <label class="checkbox">{{view Ember.Checkbox checkedBinding="isHistoric" disabledBinding="isProcessing"}} History</label>
              <label class="checkbox">{{view Ember.Checkbox checkedBinding="isCultural" disabledBinding="isProcessing"}} Culture</label>
            </div>
          </div>
        </div>

      </div>

      <div class="dialogbuttons">
        <button type="submit" {{action createPlace}} class="mq-button mq-raised mq-large mq-orange">
          <div class="mq-wrapper">
            <i>Add Place</i>
          </div>
        </button>

        <div {{action hideNewEventDialog}} class="mq-button mq-raised mq-large mq-white">
          <div class="mq-wrapper">
            <i>Cancel</i>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>