<h1>Producer</h1>
{{#if model}}
  <table>
  <tr>
  <th>id</th>
  <th>name</th>
  <th>webhooks</th>
  <th>consumers</th>
  <th> </th>
  </tr>
  <tr>
  <th>{{model.id}}</th>
  <th>{{model.name}}</th>
  <th>{{model.webhook_count}}</th>
  <th>{{model.consumer_count}}</th>
  <th><a class="btn btn-danger" {{action destroyRecord}}>delete</a></th>
  </tr>
  </table>

  <br>
  <h2>Consumers</h2>
  {{#each consumer in model.consumers}}
    {{#linkTo "consumer" consumer}}
      {{consumer.name}}
    {{/linkTo}}
  {{/each}}
{{else}}
  Something went wrong.
{{/if}}
