<div class="dialog">
  <div class="titlebar">
    <h3>Webhook {{model.id}}</h3>
    <div class="mq-button mq-white mq-small mq-raised">
      <div class="mq-wrapper">
        <b></b>
      </div>
    </div>
  </div>
  <div class="dialogcontent">
    {{#if model.failed}}
    <div class="webhookerror">
      <p>
        There is a problem contacting the end point of this webhook. <a href="#">Retry</a>
      </p>
    </div>
    {{/if}}

      <table class="variablelist">
        <tr>
          <th>End Point Name</th>
          <td>{{model.consumer.name}}</td>
        </tr>
        <tr>
          <th>End Point URI</th>
          <td>{{model.postUri}}</td>
        </tr>
        <tr>
          <th>Post Data</th>
          <td>{{model.postData}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{model.attempt}}</td>
        </tr>
        <tr>
          <th>Attempts</th>
          <td>{{model.attemptCount}}</td>
        </tr>
        <tr>
          <th>Created At</th>
          <td>{{model.createdAt}}</td>
        </tr>
      </table>
  </div>
  <div class="dialogcontent log">
    <table>
      <tr>
        <td>{{model.attemptExplanation}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="dialogshadow"></div>
