<div class="dialog">
  <div class="titlebar">
    <h3>Webhook {{model.id}}</h3>
  </div>
  <div class="dialogcontent">
    <div class="webhookerror">
      <p>
        There is a problem contacting the end point of this webhook. <a href="#">Retry</a>
      </p>
    </div>

    {{#if model}}
      <table class="variablelist">
        <tr>
          <th>ID</th>
          <td>{{model.id}}</td>
        </tr>
        <tr>
          <th>Post URI</th>
          <td>{{model.post_uri}}</td>
        </tr>
        <tr>
          <th>Post Data</th>
          <td>{{model.post_data}}</td>
        </tr>
        <tr>
          <th>Attempting</th>
          <td>{{model.attempt}}</td>
        </tr>
        <tr>
          <th>Failed</th>
          <td>{{model.failed}}</td>
        </tr>
        <tr>
          <th>Created At</th>
          <td>{{model.created_at}}</td>
        </tr>
        <tr>
          <th>End Point</th>
          <td>{{model.consumer.name}}</td>
        </tr>
      </table>

    {{else}}
      Something went wrong.
    {{/if}}
  </div>
  <div class="dialogcontent log">
    <table>
      <tr>
        <td>Dec 12, 2012</td>
        <td>03:45:52</td>
        <td>Received no reply from end point. Retrying in 1 hour.</td>
      </tr>
    </table>
  </div>
</div>
<div class="dialogshadow"></div>